* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-1: #F6F1EE;
  --bg-color-2: #4F4A45;
  --bg-color-3: #ffedd5;
  --bg-color-4: #ED7D31;
  --bg-color-5: #fecaca;
  --font-color-1: #4F4A45;
  --font-color-2: #F6F1EE;
  --font-color-3: #6C5F5B;
}

body {
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
}

/* banner */
.food-banner img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  object-position: 100% 28%;
  overflow: hidden;
}

/* footer */
.switchpage-btn-container {
  background-color: var(--bg-color-2);
  border-radius: 15px;
  text-align: center;
  max-width: 120px;
  margin: 25px auto;
}

.switchpage-btn-container h6 {
  padding-left: 5px;
}

/* admin portion */

.admin-form-container {
  background-color: var(--bg-color-3);
  width: 25vw;
  min-width: 200px;
  padding: 10px;
}

.admin-form-input input {
  background-color: var(--bg-color-1);
  border-radius: 5px;
}

.admin-form-upload {
  padding: 10px 0;
}

.admin-form-btn {
  display: flex;
  justify-content: space-between;
}

/* meals portion */
.meals-container h4 {
  text-align: center;
  text-transform: uppercase;
}

.meal-price {
  padding-top: 10px;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 65px;
}

/* users portion */

/* users cart */
.dialog-title {
  text-align: center;
}

.cart-items {
  min-width: 400px;
  font-size: 18px;
}

.item-details {
  width: 40%;
}

.item-price {
  font-size: 0.9rem;
}

.item-qty {
  width: 15%;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}

.item-action {
  width: 30%;
  text-align: center;
}

.total-item-amount {
  width: 15%;
}

.total-amount {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.cart-action-button {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}