* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-1: #fff1f2;
  --bg-color-2: #451a03;
  --bg-color-3: #fecaca;
  --font-color-1: #451a03;
  --font-color-2: #fff1f2;
}

body {
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
}

/* admin portion */
.admin-side-bar {
  border: 1px solid red;
}

.admin-form-container {
  background-color: var(--bg-color-3);
  width: 25vw;
  min-width: 200px;
  padding: 10px;
}

.admin-form-input input {
  background-color: var(--bg-color-1);
  border-radius: 5px;
}

.admin-main {
  border: 1px solid green;
}

.admin-form-upload {
  padding: 10px 0;
}

.admin-form-btn {
  display: flex;
  justify-content: space-between;
}

.meals-container h4 {
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: var(--bg-color-2);
  height: 15vh;
  border: 1px solid transparent;
}

.switchpage-btn-container {
  background-color: var(--bg-color-1);
  border-radius: 20px;
  text-align: center;
  max-width: 120px;
  margin: 0 auto;
}

.switchpage-btn-container h6 {
  padding-left: 5px;
}